<div class="navbar nav_title" style="border: 0;">
<a  routerLink="/index" class="site_title" ><strong class="text-danger">A</strong>U<strong class="text-danger">T</strong>O <strong class="text-danger">OP</strong>ERATION</a>
<!--<a  routerLink="/index"  class="small_site_title">ATOP</a>-->
</div>

<div class="profile">
    <!--img_2 -->
    <div class="profile_pic"> 
        <img src="/assets/images/defaultAvatar.png" alt="..." class="img-circle profile_img">
    </div>
    <div class="profile_info">
        <span>Welcome,</span>
        <h2>Anthony Mutisya</h2>
    </div>
</div>